/* Asciidoctor default stylesheet | MIT License | https://asciidoctor.org */

@import url(//fonts.googleapis.com/css?family=Noto+Sans);
@import url(https://cdn.jsdelivr.net/gh/asciidoctor/asciidoctor@2.0/data/stylesheets/asciidoctor-default.css); /* Default asciidoc style framework - important */

/* CUSTOMISATIONS */
/* Change the values in root for quick customisation. If you want even more fine grain... venture further. */
:root{
--maincolor:#FFFFFF;
--primarycolor:#000000;
--secondarycolor:#AAAAAA;
--tertiarycolor:#CCCCCC;
--sidebarbackground:#CACACA;
--linkcolor:#0D47A1;
--linkcoloralternate:#B71C1C;
--white:#FFFFFF;
--black:#000000;
}

/* Text styles */

body{font-family: "Noto Sans",sans-serif;background-color: var(--maincolor);color:var(--black);}

h1{color:var(--primarycolor) !important;font-family:"Noto Sans",sans-serif;}
h2,h3,h4,h5,h6{color:var(--secondarycolor) !important;font-family:"Noto Sans",sans-serif;}
.title{color:var(--black) !important;font-family:"Noto Sans",sans-serif;font-style: normal; font-weight: normal;}
a{text-decoration: none;}
p{font-family: "Noto Sans",sans-serif ! important}
#toc.toc2 a:link{color:var(--linkcolor);}
blockquote{color:var(--secondarycolor) !important}
.quoteblock{color:var(--black)}
.quoteblock blockquote:before{color:var(--black)}
code{color:var(--white);background-color: var(--secondarycolor) !important}
mark{background-color: var(--tertiarycolor)} /* Text highlighting color */

/* Table styles */
th{background-color: var(--maincolor);color:var(--black) !important;}
td{background-color: var(--maincolor);color: var(--black) !important}


#toc.toc2{background-color:var(--sidebarbackground);}
#toctitle{color:var(--white);}

/* Responsiveness fixes */
video {
  max-width: 100%;
}

@media all and (max-width: 600px) {
table {
  width: 55vw!important;
  font-size: 3vw;
}


.new{background-color: #FF0; color: #000}
.recent{background-color: #FFA}
.ndef{font-style: italic}
.italic{font-style: italic}
.op{font-family: monospace; font-weight: bold}
.key{font-weight: bold}
.type{font-family: monospace}
.str{font-family: monospace} /* string type */
.array{font-family: monospace} /* array type */
.tup{font-family: monospace} /* tuple type, tuple is indeed a keyword */
.obj{font-family: monospace} /* object type, object is indeed a keyword */
.var{font-family: monospace; font-style: italic}
.mod{font-family: monospace; font-variant: small-caps}
.lit{font-family: monospace; font-style: italic}
.const{font-family: monospace; font-style: italic}
.code{font-family: monospace; background-color: #EEE; color: #000}
.term{font-family: monospace; background-color: #EEE; color: #000}



